.footercontainer {
  display: block;
  max-width: 100%;
  background-color: #ffffff;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 18%;
}

.footer__icons__mobile {
  margin-left: 30%;
  margin-bottom: 20px;
  width: auto;
}

.icons {
  margin-right: 15px;
}

@media screen and (max-width: 768px) {
  .footericons {
    display: none;
  }
}
